.header {
  background-color: rgba($color: #1b1b1b, $alpha: 0.7);
  backdrop-filter: blur(5px);

  height: 3.8rem;
  position: sticky;
  top: 0;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  position: fixed;
  top: 0.4rem;
  right: 1.5rem;
  z-index: 4;
}
