@import 'variables.scss';
.carousel {
  cursor: grab;
  width: 100%;
  overflow: hidden;
  background-color: pink;

  .inner-carousel {
    background-color: lightblue;
    display: flex;
  }
}

.item {
  height: 6rem;
  padding: 1rem;
  display: none;
  // background-color: $primary-color;

  img {
    height: 100%;
    pointer-events: none;
  }
}
