.portfolio {
  height: 150vh;
  .portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .project {
      position: relative;
      .project-wrapper {
        img {
          width: 100%;
        }
        .project-info {
          margin: 1rem;

          .tech-card-wrapper {
            display: flex;
            margin-block: 0.5rem;

            .tech-card {
              background-color: rgb(9, 232, 94);
              color: #1b1b1b;
              padding-inline: 0.4rem;
              padding-block: 0.3rem;
              border-radius: 3px;
              margin-inline: 0.3rem;
              margin-bottom: 0.5rem;

              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }

      .top-border-cover {
        position: absolute;
        top: 0;
        left: 0;
        border-top: solid 2px rgb(9, 232, 94);
        box-shadow: 0 0 5px rgb(9, 232, 94);
        // width: 40%;
      }
      .right-border-cover {
        position: absolute;
        top: 0;
        right: 0;
        border-right: solid 1px rgb(9, 232, 94);
        box-shadow: 0 0 4px rgb(9, 232, 94);
        // height: 60%;
      }
      .left-border-cover {
        position: absolute;
        top: 0;
        left: 0;
        border-left: solid 1px rgb(9, 232, 94);
        box-shadow: 0 0 5px rgb(9, 232, 94);
        height: 60%;
      }
      .bottom-border-cover {
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: solid 1px rgb(9, 232, 94);
        box-shadow: 0 0 5px rgb(9, 232, 94);
        width: 40%;
      }
    }
  }
}
