.portfolio {
  height: 150vh;
  .portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .project-wrapper {
      img {
        width: 100%;
      }
      .project-info {
        margin: 1rem;

        .tech-card-wrapper {
          display: flex;
          margin-block: 0.5rem;

          .tech-card {
            background-color: rgb(9, 232, 94);
            color: #1b1b1b;
            padding-inline: 0.4rem;
            padding-block: 0.3rem;
            border-radius: 3px;
            margin-inline: 0.3rem;
            margin-bottom: 0.5rem;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
