@import '../../styles/variables.scss';
.home {
  height: 250vh;
  margin-bottom: 5rem;

  .home-wrapper {
    min-height: 100vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;

    .hero-img {
      height: 10rem;
      border-radius: 50%;
      box-shadow: 0 0 20px rgb(9, 232, 94);
      animation: pulse 2s infinite alternate;
      z-index: 2;

      @keyframes pulse {
        0% {
          box-shadow: 0 0 0px rgb(9, 232, 94);
        }
        100% {
          box-shadow: 0 0 20px rgb(9, 232, 94);
        }
      }
      img {
        border-radius: 20rem;
        height: 100%;
      }
    }

    .h1 {
      margin-block: 1rem;
    }

    .scroll-down {
      color: $gray;
      font-size: 1rem;
      .down {
        height: 3rem;
        margin-block: 1rem;
        color: $cool-green;

        @keyframes up-down {
          0%,
          15% {
            transform: translateY(0);
          }
          85%,
          100% {
            transform: translateY(10px);
          }
        }

        svg {
          fill: rgb(9, 232, 94);
          height: 100%;
          width: 100%;
          animation: up-down 0.7s infinite alternate;
        }
      }
    }

    .btm-item {
      margin-top: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .home .home-wrapper .scroll-down .down {
    height: 4rem;
  }
}
