@import '../../styles/variables.scss';

.footer {
  text-align: center;

  .icons-wrapper {
    margin: 1rem auto;
    font-size: 30px;
    color: $gray;

    .icon {
      margin-inline: 0.8rem;
    }
  }
}

@media only screen and (min-width: 991px) {
  .footer {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $gray;
    margin-bottom: 2rem;
    .icons-wrapper {
      margin: 0;
    }
  }
}
